:root {
  --font-family-base: "Times New Roman", Times, serif;

  --container-width: 100vw;
  --wrapper-width: 100vw;
  --wrapper-padding-x: 15px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --navbar-height: 60px;
  --sidebar-width: 73px;
  --footer-height: 70px;

  @include mobile {
    --container-padding-x: 10px;
  }

  /*mobile*/
  @include mobile {
    --navbar-height: 93px;
  }
}
