* {
  color: var(--text-color);
}

body {
  font-family: var(--font-family-base);
  @include fluid-text(14, 14.5);

  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  @include fluid-text(28, 24);

  line-height: 42px;
}

h2 {
  @include fluid-text(21, 20);

  line-height: 31.5px;
}

h3 {
  @include fluid-text(16.38, 16);

  line-height: 24.57px;
}
h4 {
  @include fluid-text(14, 14);

  line-height: 21px;
}

h5 {
  @include fluid-text(11.62, 12);

  line-height: 17.43px;
}

h6 {
  @include fluid-text(9.38, 10);

  line-height: 14.07px;
}

p {
  @include fluid-text(15, 14.5);
  line-height: 1.3;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  color: inherit;
  background-color: var(--background-button-color);
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-hover);
}

figure {
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
